<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="delivery">
      <h2 data-cy="deliveryDetailsHeading"><span jhiTranslate="coopcycleJhipsterApp.delivery.detail.title">Delivery</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ delivery.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleJhipsterApp.delivery.cartId">Cart Id</span></dt>
        <dd>
          <span>{{ delivery.cartId }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleJhipsterApp.delivery.courierId">Courier Id</span></dt>
        <dd>
          <span>{{ delivery.courierId }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleJhipsterApp.delivery.restaurantId">Restaurant Id</span></dt>
        <dd>
          <span>{{ delivery.restaurantId }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleJhipsterApp.delivery.deliveryTime">Delivery Time</span></dt>
        <dd>
          <span>{{ delivery.deliveryTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleJhipsterApp.delivery.pickupTime">Pickup Time</span></dt>
        <dd>
          <span>{{ delivery.pickupTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleJhipsterApp.delivery.courierId">Courier Id</span></dt>
        <dd>
          <div *ngIf="delivery.courierId">
            <a [routerLink]="['/member', delivery.courierId.id, 'view']">{{ delivery.courierId.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcycleJhipsterApp.delivery.restaurantId">Restaurant Id</span></dt>
        <dd>
          <div *ngIf="delivery.restaurantId">
            <a [routerLink]="['/restaurant', delivery.restaurantId.id, 'view']">{{ delivery.restaurantId.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcycleJhipsterApp.delivery.cartId">Cart Id</span></dt>
        <dd>
          <div *ngIf="delivery.cartId">
            <a [routerLink]="['/cart', delivery.cartId.id, 'view']">{{ delivery.cartId.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/delivery', delivery.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
